.text-muted {
    display: flex;
    margin: 10px 20px;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(0.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    text-align: center;
}

.d-inline-block {
    width: 23%;
    margin: 0px 15px
}

.d-inline-block input {
    border: 1px solid #e5e4e4;
    border-radius: 9px;
}

.d-flex {
    display: flex;
}

.ms-2 {
    width: 80%;
    margin-left: 10px;
    border: 1px solid #e5e4e4;
    border-radius: 5px;
}


/* .d-search{
    height: 100%;
    margin-right: -48px;
} */

.show-pagination {
    margin-left: 20px;
    display: flex;
    height: 3em
}

.active {
    z-index: 3;
    color: #ffffff !important;
    background-color: #206bc4;
    border-color: #206bc4;
}

.active a {
    color: #ffffff !important;
}

.pagination {
    padding-left: 0;
    display: flex;
    height: 100%;
}

.align-items-center {
    align-items: center !important;
}

.ms-auto {
    margin-left: auto !important;
}

.page-item {
    text-align: center;
    margin-top: 12px;
    margin-left: 14px;
    margin-bottom: 7px;
}

.page-link {
    min-width: 1.75rem;
    border-radius: 4px;
    margin-top: 4px !important;
}


/* hthi */

.container {
    gap: 0px;
    z-index: 9999;
}

main {
    width: 1400px;
    margin-left: 10px;
}

#title_form {
    color: #ca877e;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: arial;
}

.add {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add label {
    font-size: 20px;
    font-weight: 600;
}

.add #add_button {
    background-color: #ca877e;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 520;
    color: #ffffff;
    transition: transform 0.2s ease;
    margin: 10px;
}

.add #add_button:hover {
    transform: scale(1.02);
}

.add #add_button i {
    margin-right: 5px;
}


/* search */

.search {
    margin-left: auto;
}

.search #search_form {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

.search #search_form #txtSearch {
    width: 250px;
    height: 30px;
    color: #0b0b0b;
    background-color: transparent;
    border-bottom: 1px solid #ca877e;
}

.search #search_form #btnSearch {
    cursor: pointer;
    margin-left: 10px;
}